* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 1.4em;
  margin-left: 5em;
  margin-right: 5em;
  font-family: "Afacad Flux", sans-serif;
  background-color: whitesmoke;
}

header {
  display: grid;
  grid-template-columns: 1fr;
}

#title {
  font-weight: bold;
  font-style: italic;
  font-size: 3.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

nav>ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  padding: 1.1em 0 1.2em 0;
  background-color: lightgreen;
  border-radius: 1.3em;
}

nav>ul>li {
  margin-right: 3em;
  list-style-type: none;
  font-size: 1.4em;
}

nav>ul>li:hover {
  color: gray;
  transition: 500ms;
  cursor: pointer;
}

.about {
  display: block;
  margin-top: 2em;
  margin-bottom: 1.3em;
}

article {
  display: block;
  margin-bottom: 2em;
  text-align: left;
}

.titles {
  text-align: center;
  font-size: 2em;
}

table {
  text-align: center;
  justify-self: center;
  margin-top: 1.5em;
  border: 3px solid black;
}

.content {
  font-size: 1.3em;
}

.login-buttons {
  background-color: lightgreen;
  border-radius: 10px;
  width: 7em;
  height: 3em;
  font-size: 0.9em;
  margin-right: 1em;
}

.login-buttons:hover {
  background-color: green;
  color: white;
  transition: 700ms;
  cursor: pointer;
}

#theme-button {
  background-color: lightgreen;
  border-radius: 10px;
  width: 7em;
  height: 3em;
  font-size: 0.9em;
}


#theme-button:hover {
  background-color: green;
  color: white;
  transition: 700ms;
  cursor: pointer;
}
