* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 1.4em;
  margin-left: 5em;
  margin-right: 5em;
  font-family: "Afacad Flux", sans-serif;


  @media screen and (max-width:900px) {
    text-align: center;
    min-width: 500px;
  }

}

#title {
  font-weight: bold;
  font-style: italic;
  font-size: 3.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

nav>ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 95%;
  margin-top: 1em;
  padding: 1em 1.1em 1em 1.1em;
  background-color: lightgreen;
  border-radius: 1.3em;
  min-width: 400px;
}

nav>ul>li {
  margin-right: 3em;
  list-style-type: none;
  font-size: 1.4em;
}

nav>ul>li:hover {
  color: gray;
  transition: 500ms;
  cursor: pointer;
}

.buttons_area {
  display: flex;
  align-items: center;
  justify-content: right;


  @media screen and (max-width:900px) {
    justify-content: center;
  }
}

.about {
  margin-top: 2em;
  margin-bottom: 1.3em;
}

section {
  display: block;
  margin-bottom: 2em;
  text-align: left;

  @media screen and (max-width:900px) {
    text-align: center;
  }

}

.titles {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.1em;
}

.subtitles {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 1.1em;
}

table {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  font-size: 1.2em;
}

.content {
  font-size: 1.3em;
}

.buttons {
  background-color: lightgreen;
  border-radius: 10px;
  width: 7em;
  height: 3em;
  font-size: 0.9em;
  margin-right: 1em;
}

.buttons:hover {
  background-color: green;
  color: white;
  transition: 700ms;
  cursor: pointer;
}

#theme-button:hover {
  background-color: green;
  color: white;
  transition: 700ms;
  cursor: pointer;
}

.modes_text {
  font-size: 1.2em;


  @media screen and (max-width:900px) {
    list-style-type: none;
  }

}

.conf_image {
  width: 500px;
  height: 300px;
}

figure {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image_desc {
  font-size: 1.2em;
  font-style: italic;
}

.config_images_wrapper {
  display: flex;
  align-items: space-evenly;
  justify-content: center;

  @media screen and (max-width:900px) {
    display: block;
  }

}

.demo_video {
  margin-top: 3em;
  text-align: center;
  width: 80%;
  align-self: center;
}

.demo_video>video {
  margin: 0 auto 0 auto;
}
